//colors

//fonts
$sans-serif:	'Source Sans Pro', sans-serif;
$fontThin:		200;
$fontLight:		300;
$fontNormal: 	400;
$fontBold:		700;
$fontBlack: 	900;

//transition
$bezier:		cubic-bezier(.43,.84,.79,.99);